.A {
    background-color: lightgrey;
    width: 300px;
    height: 300px;
    border: 10px solid green;
    padding: 20px ;
    /* margin: 10px; */
  }
  .B {
    background-color: lightgrey;
    width: 250px;
    height: 250px;
    border: 10px  solid black;
    padding: 10px;
   
   
  }
  .C {
    background-color: lightgrey;
    width: 200px;
    height: 200px;
    border: 10px solid blueviolet;
    padding: 10px;
   
  }
  .D {
    background-color: lightgrey;
    width: 150px;
    height: 150px;
    border: 10px solid yellow;
    padding: 10px;
    
  }
  .E {
    background-color: lightgrey;
    width: 100px;
    height: 100px;
    border: 10px solid orangered;
    padding: 10px;
    
  }
  .F {
    background-color: lightgrey;
    width: 50px;
    height: 50px;
    border: 10px solid blue;
    padding: 10px;
   
  }
  