.circle{
    width: 100px;
    height: 100px;
    background-color: red;
    border-radius: 50%;
    transition: 1s;
    position: relative;
    left: 43%;
}
.circle:hover{
    border-radius: 0%;
    background-color: lightskyblue;
}
.rectangle{
    position: relative;
    left:43%;
    width: 100px;
    height: 100px;
    background-color: black;
    border-radius: 50%;
    transition: 1s;
    
}
.rectangle:hover{
    border-radius: 0%;
    width: 250px;
    height: 100px;
    background-color: rgb(21, 56, 229);
    transition: 1s;
    border-left: 40px transparent;
    border-right: 40px transparent;
    border-bottom:80px transparent ;
}
.triangle{
    position: absolute;
    right:50%;
     width: 100px; 
    height: 100px;
    background-color: blueviolet;
    border-radius: 50%;
    transition: 1s;
}
.triangle:hover{
    width: 0;
    height: 0;
    border: 0 solid transparent;
    border-right-width: 50px;
    border-left-width: 50px;
    border-bottom: 100px solid #6980fe;
    background-color: transparent;
}